<h1 style="text-align: center; font-size: 24px; color: #333; margin-bottom: 20px;">Uploaded File</h1>

<p style="text-align: center; font-size: 18px; color: #555;">
  File URL: 
  <%= link_to @uploaded_file.file.url, @uploaded_file.file.url, target: '_blank', style: "color: #007bff; text-decoration: none; font-weight: bold;" %>
</p>
